---
layout: default
ref: index
lang: ko
---

<div class="home">

  <h1 class="page-heading">포스팅</h1>

  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      {% if post.date <= site.time %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p class = "post-excerpt">{{ post.content | strip_html | truncatewords: 50 }}</p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe"><a href="{{ "/feed_ko.xml" | prepend: site.baseurl }}">RSS 피드</a></p>

</div>
