<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.title[page.lang] }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% assign pages=site.pages | where:"lang", page.lang %}
        {% for my_page in pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
        
        {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% if posts.size > 0 %}
          {% for post in posts %} <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}
        {% else %}
          {% for lang in layout.langs %} <a href="{{ site.baseurl }}/{{ site.index[lang] }}">{{ lang }}</a> {% endfor %}
        {% endif %}
      </div>
    </nav>

  </div>

</header>
